.title {
    text-align: center;
    margin-top: 125px;
}
h1.title {
    font-size: 6rem;
    font-weight: 500;
}
h2.title {
    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px #424242;

    text-shadow:
    1px 1px 0 #424242,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
    -1px -1px 0 #424242,  
    1px -1px 0 #424242,
    -1px  1px 0 #424242,
    1px  1px 0 #424242;
}

.modal-close {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
}
.hover-container {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    cursor: pointer;
}
.hover-container:hover::before {
    padding-left: 50%;
    margin-left: -0.5em;
    margin-top: 200px;
    opacity: 0.4;
    position: absolute;

    /* fa-arrows-alt */
    content: "\f0b2";

    /* .fa */
    display: inline-block;
    font: normal normal normal 5em FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hover-container:hover {
    opacity: 0.9;
}