<div #modalContainer></div>

<div class="parallax-container">
  <h1 class="title grey-text text-lighten-3">John's Blog</h1>
  <div class="row container text-center">
    <a class="btn btn-outline-white btn-large wow fadeInLeft waves-effect waves-light" style="visibility: hidden;" [routerLink]="['/posts', 'about']">About</a>
    <a class="btn btn-outline-white btn-large wow fadeInRight waves-effect waves-light" style="visibility: hidden;" href="https://www.linkedin.com/in/johnespenhahn/" target="_blank">LinkedIn</a>
  </div>
  <div class="parallax" materialize="parallax">
    <img src="assets/parallax1.jpg" >
  </div>
</div>
<!-- Blogs from db.json -->
<div *ngFor="let post of (posts | async)">
  <div *ngIf="post.image" class="parallax-container parallax-container-small hover-container" [routerLink]="['/posts', post.file]">
    <h2 class="title grey-text text-lighten-3">{{ post.title }}</h2>
    <div class="parallax" materialize="parallax">
      <img [src]="'assets/' + post.image">
    </div>
  </div>
  <div *ngIf="!post.image" class="section">
    <div class="row container">
      <markdown [path]="'assets/markdown/' + post.file + '.md'"></markdown>
    </div>
  </div>
</div>